{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>

  <body>

<div class="container-fluid" style="width:100%;">
  <nav class="navbar navbar-light">
      <span class="navbar-text text-dark">
          The awards of design, creativity and innovation on the internet
      </span>
      <!-- <span class="navbar-text text-dark" id="english">
        English
      </span> -->
      <div class="links" >
        <a href="http://"><i class="fab fa-instagram"></i></a>
        <a href="http://"><i class="fab fa-twitter"></i></a>
        <a href="http://"><i class="fab fa-facebook-f"></i></a>
      </div>
    </nav>
    <hr>

  <nav class="navbar navbar-expand-lg navbar-light" id="navbar-2">
      <a class="navbar-brand bold" href="/">AWWWARDS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'directory'%}">Directory <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile'%}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/logout">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 float-right" role="search" action="{% url 'search_results'%}" style="margin-right:-5%;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search For Inspiration" name="project">
        </div>
      </form>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="user-image" style="float:right; margin-right:40%;">
        <a href="/user/{{profile.username}}" style="color:black;text-decoration:none;margin:auto;">
          <p class="ml-2" style="font-size: 13px; font-weight:lighter;margin:auto;text-transform:uppercase;">{{profile.username}}</p>
        </a>
        <img src="{{profile.avatar.url}}" class="gallery-image" style="margin:auto;">
        <a href="{% url 'new-project' %}" >
          <button class="btn btn-success font-weight-bold submit-max">SUBMIT YOUR SITE</button>
        </a>
  
      </div>
  </nav>
</div>
  <script>
    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("navbar-2");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>
  </body>
</html>