.navbar{
  width: 100% !important;
  margin-bottom: 0px;
  background: #F3F7F6;
  height: 7rem;
  }
  
hr{
  width: 100% !important;
  margin: 0px;
  max-width: 100%;
  }

.sticky {
  position: fixed !important;
  top: 0;
  width: 100% !important;
  padding-top: 10px;
  z-index: 1;
}

.submit-max{
  width:16rem;
  height:7rem; 
  font-size: 10px; 
  background-color:#49c5b6; 
  border-radius:0;
  margin-right: -30%;
  float: right;
}

.navbar-text{
  font-weight:550;
}

#english{
  float:left;
}

.fab{
  color:black;
  padding:4.5px;
  font-size:1.5rem;
}

.links{
  margin-right:-34%;
}